/* =================================================
Fonts.
================================================= */

/* Google Fonts: PT Mono and Russo One */
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Russo+One&display=swap');




/* =================================================
Header, body, and footer.
================================================= */

/* Center the header vertically using Flexbox. */
/* https://www.w3schools.com/csS/css_align.asp */
header {
  background-color: black;
  color: green;
  font-family: 'Russo One', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100px;
  border: 3px black;
}


/* Background color and margin. */
body {
  background-color:black;
  color: green;
  font-family: 'PT Mono', monospace;
  margin: 0;
}


/* Center the header vertically using Flexbox. */
/* https://www.w3schools.com/csS/css_align.asp */
footer {
  font-family: 'Russo One', sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  border: 3px black;
}




/* =================================================
Classes.
================================================= */

/* Expands the containers in the body (.Site) and main (.Site-content) elements, which keeps the footer to the bottom of the screen. */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  justify-content: center;
  text-align: center;
}


/* Background image styling. */
/* https://www.w3schools.com/cssref/pr_dim_height.asp */
/* https://css-tricks.com/box-sizing/ */
.background2 {
  width: 100%;
  height: 200px;
  /* Includes padding and border in the element's total width and height. */
  box-sizing: border-box;
  object-fit: fill;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.text {
  font-family: 'Russo One', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  border: 3px black;
}


.fa-temperature-low {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px black;
}


.fa-sync {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px black;
}




/* =================================================
Media queries.
================================================= */

/* Media queries for laptops (retina and non-retina screens). */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Non-Retina screens */
@media
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio:: 1) {
}

/* Retina screens. */
@media
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio:: 2)
  and (min-resolution: 192dpi) {
}

/* If the screen orientation is landscape, the background color will turn white. */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries */
@media (orientation: landscape) {
    body {
        color: white;
    }
}
